# Local terraform directories
**/.terraform/*

# State files
*.tfstate
*.tfstate.*
terraform.tfstate/
terraform.tfstate.backup/

# Crash log files
*.log

# Secret data
*.tfvars
mykey.tfvars/

# .Dstore files
*.DS_Store
.DS_Store

#Keypair 
tf_key
